form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

span{
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    text-align: end;
    margin-bottom: 16px;
    color: #C2C2C2;
}