:root {
    --primary-color: #7001FD;
    --secondary: #1E2772;
    --bg-color: #C2C2C2;
    --text-color: #555555;
}


main{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img{
    margin-bottom: 30px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: 20px;
    margin-bottom: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-sec{
    flex-grow: 1;
    background-color: #EEEEEE;
}

.form-sec{
    flex-grow: .3;
    padding: 0 35px;
}

.btn-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px; 
}

button{
    width: 100%;
    border-radius: 8px;
    font-weight: 500;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
}
.primaryBtn{
    color: whitesmoke;
    background-color: #7001FD;
}

.divider{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #C2C2C2;
    gap: 30px;
    width: 100%;
    text-transform: uppercase;

    div{
        flex-grow: 1;
        height: 1px;
        background-color: #C2C2C2;
    }
}

.secondaryBtn{
    color: #7001FD;
    border: 1px solid;
    border-color:#7001FD;
}