<main>

<section class="form-sec">
    <img src="svg/logo.svg" alt="">

    <h2>{{text}}</h2>

    <ng-content></ng-content>

    <div class="btn-wrapper">
        <button class="primaryBtn"> {{primaryBtnText}} </button>
        <div class="divider">
            <div></div>
            <span>or</span>
            <div></div>
        </div>
        <button class="secondaryBtn"> {{secondaryBtnText}} </button>
    </div>
</section>

<section class="main-sec">
    <h1>You should, MoveIt!</h1>
    <img src="svg/main-illustration.svg" alt="">
</section>

</main>
